#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


#define BASE 0
#define BRACK   1
#define NUM   2
#define VINCI   2
/ {
    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base (QWERTY)
        default_layer {
		label = "BASE";
            bindings = <
                // Row 0: [Q W E R T | Y U I O P]
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                // Row 1: [A S D F G | H J K L ;]
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L    &kp SEMI 
  
                       // Row 2: [Z X C V B | N M , . /]
                &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH
                // Row 3 (cols 2–7 exist)

                &none       &kp SPACE       &mt LSHIFT ESC      &mt LCTRL BACKSPACE       &kp RETURN       &to BRACK       

                &mt LCTRL ESC       &kp SPACE       &kp SPACE &kp N1
            >;
        };
						symbols {
						    label = "BRACK";
            bindings = <
                // Row 0: [Q W E R T | Y U I O P]
				&kp TILDE       &kp EXCL       &kp AT       &kp HASH       &kp DOUBLE_QUOTES       &kp PLUS       &kp EQUAL       &kp LEFT_PARENTHESIS       &kp RIGHT_PARENTHESIS       &kp BACKSLASH
                // Row 1: [A S D F G | H J K L ;]
                &kp UNDERSCORE       &kp DOLLAR       &kp PERCENT       &kp CARET       &kp SINGLE_QUOTE       &kp LESS_THAN       &kp GREATER_THAN       &kp LEFT_BRACE       &kp RIGHT_BRACE    &none 
  
                       // Row 2: [Z X C V B | N M , . /]
                &none       &kp AMPS       &kp STAR      &kp QMARK       &kp GRAVE       &kp MINUS       &kp SLASH       &kp LEFT_BRACKET   &kp RIGHT_BRACKET     &none 
                // Row 3 (cols 2–7 exist)

                &to BASE       &kp SPACE       &kp LCMD       &kp BACKSPACE       &kp RETURN       &to NUM       

                &none       &bootloader       &bootloader  &to VINCI
						>;
        };

        numbers {
						    label = "NUM";
            bindings = <
                // Row 0: [Q W E R T | Y U I O P]
				&kp TILDE       &kp EXCL       &kp AT       &kp HASH       &kp DOUBLE_QUOTES       &kp DOT       &kp N1       &kp N2       &kp N3       &none
                // Row 1: [A S D F G | H J K L ;]
                &kp UNDERSCORE       &kp DOLLAR       &kp PERCENT       &kp CARET       &kp SINGLE_QUOTE       &kp N0       &kp N4       &kp N5       &kp N6    &kp MINUS 
  
                       // Row 2: [Z X C V B | N M , . /]
                &none       &kp AMPS       &kp STAR      &kp QMARK       &kp GRAVE       &kp DOT       &kp N7       &kp N8   &kp N9     &kp PIPE 
                // Row 3 (cols 2–7 exist)

                &to BASE       &kp Q       &kp Q       &kp BACKSPACE       &kp RETURN       &to BRACK       

                &none       &bootloader       &bootloader  &none
						>;
        };
        davin {
						    label = "VINCI";
            bindings = <
								&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
								&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
								&trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    
                // Row 3 (cols 2–7 exist)

                &kp LSHIFT       &mt LALT SPACE      &kp LCMD       &kp BACKSPACE       &kp RETURN       &kp Y       

                &kp LCTRL       &to BASE       &bootloader  &kp N1
            >;
        };


   };
};
