#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base (QWERTY)
        default_layer {
            bindings = <
                // Row 0: [Q W E R T | Y U I O P]
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                // Row 1: [A S D F G | H J K L ;]
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L    &kp SEMI 
  
                       // Row 2: [Z X C V B | N M , . /]
                &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH
                // Row 3 (cols 2–7 exist)

                &kp Q       &kp SPACE       &kp LSHIFT       &kp BACKSPACE       &kp RETURN       &mo 1       

                &mt LCTRL ESC       &bootloader       &bootloader  &kp N1
            >;
        };
        numbers {
            bindings = <
                // Row 0: [Q W E R T | Y U I O P]
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp N1       &kp N2       &kp N3       &none
                // Row 1: [A S D F G | H J K L ;]
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp N0       &kp N4       &kp N5       &kp N6    &kp SEMI 
  
                       // Row 2: [Z X C V B | N M , . /]
                &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp N7       &kp N8   &kp N9     &kp SLASH
                // Row 3 (cols 2–7 exist)

                &kp Q       &kp Q       &kp Q       &kp BACKSPACE       &kp RETURN       &kp Y       

                &kp ESC       &bootloader       &bootloader  &kp N1
            >;
        };

   };
};
