if SHIELD_F_LEFT

config ZMK_KEYBOARD_NAME
    default "filip-dact"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_F_LEFT

if SHIELD_F_LEFT || SHIELD_F_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_F_LEFT || SHIELD_F_RIGHT
